# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# Environments
.env
.envrc
.venv
venv/

# IDE
.idea
.vscode/

# OS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Linting / type checking
.ruff_cache/
.mypy_cache/

# Logs
logs/
*.log

# Project-specific
data/
config.json
set_api.sh
figure2/
